@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,400&family=Nunito&display=swap');


html, body{
    background-color: #0C0F0A;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Prompt", sans-serif;
}


/* Pre Loader */

.loading-pane{
    z-index: 9000;
    width: 100vw;
    height: 100vh;
}
.pyramid-loader {
    position: relative;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}
.pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}
.pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}
.pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}
.pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}
.pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #8B5AD5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
}
#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: -150px;
    bottom: 100px;
    right: 200px;

    filter: url(#threshold) blur(0.6px);
}
#text1, #text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    color: #94090E;

    font-family: 'Raleway', sans-serif;
    font-size: 50pt;

    text-align: center;

    user-select: none;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#loading-screen img{
    width: 300px;
}
/* */
.absolute {
    position: absolute;
}
.inline-block {
    display: inline-block;
}
.loader {
    display: flex;
    margin: 0.25em 0;
}
.w-2 {
    width: 0.5em;
}
.dash {
    animation: dashArray 2s ease-in-out infinite,
    dashOffset 2s linear infinite;
}
.spin {
    animation: spinDashArray 2s ease-in-out infinite,
    spin 8s ease-in-out infinite,
    dashOffset 2s linear infinite;
    transform-origin: center;
}
@keyframes dashArray {
    0% {
        stroke-dasharray: 0 1 359 0;
    }

    50% {
        stroke-dasharray: 0 359 1 0;
    }

    100% {
        stroke-dasharray: 359 1 0 0;
    }
}
@keyframes spinDashArray {
    0% {
        stroke-dasharray: 270 90;
    }

    50% {
        stroke-dasharray: 0 360;
    }

    100% {
        stroke-dasharray: 270 90;
    }
}
@keyframes dashOffset {
    0% {
        stroke-dashoffset: 365;
    }

    100% {
        stroke-dashoffset: 5;
    }
}
@keyframes spin {
    0% {
        rotate: 0deg;
    }

    12.5%,
    25% {
        rotate: 270deg;
    }

    37.5%,
    50% {
        rotate: 540deg;
    }

    62.5%,
    75% {
        rotate: 810deg;
    }

    87.5%,
    100% {
        rotate: 1080deg;
    }
}


/* Paticles */

#particles-js{
    position:absolute;
    top: 120vh;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 120vh);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 9999999;
}


/* Navigation */

.navigation {
    border-radius: 30px;
    border: 5px solid #c9184a;
    background: #090310;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 75px;
    z-index: 9000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.8s ease-in-out;
}
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 150px;
    height: 60px;
    margin: 7px 10px 10px 20px;
}
.nav_links > a {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
    margin: 15px;
    transition: all 0.3s ease;
}
.nav_links > .active{
    color: #c9184a;
}
.nav_links > a:hover{
    color: #c9184a;
}
.menu-btn {
    display: none !important;
    color: #c9184a;
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
}


/* Home */

.home-desc{
    margin: 30px;
    width: 1000px;
    padding: 20px;
}
.home-desc>p{
    text-align: justify;
    color: grey;
}
.home-desc>h2{
    color: #d8a48f;
    padding-left: 50px;
}
.home-me>img:first-child{
    position: absolute;
    right: -50px;
    top: -70px;
    z-index: 99;
    height: 700px;
}
.home-line{
    position: relative;
    width: 1000px;
    border-bottom: 2px solid white;
    height: 30px;
}
.home-line>h5{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.home-me>img:nth-child(2){
    position: absolute;
    right: 0;
    height: 1000px;
    top: -90px;
}
.home-icons{
    position: relative;
    width: 1000px;
    left: 350px;
}
.home-icons > a{
    text-decoration: none;
    margin: 20px;
}
.home-icons > a > svg{
    fill: #ff758f;
    transition: all 0.3s ease;
}
.home-icons > a > svg:hover{
    transform: scale(1.4);
}
.home-icons > a > svg:active{
    transform: scale(0.9);
}
.home-icons > a:first-child > svg:hover{
    fill: #e365c1;
}
.home-icons > a:nth-child(2) > svg:hover{
    fill: #0072b1;
}
.home-icons > a:nth-child(3) > svg:hover{
    fill: #0147f8;
}
.home-icons > a:nth-child(4) > svg:hover{
    fill: #637081;
}
.home-icons > a:nth-child(5) > svg:hover{
    fill: #128C7E;
}
.home-btn{
    width: 1000px;
    display: flex;
    justify-content: center;
}
.home-btn>button{
    margin: 100px;
}
.home-btn>button:first-child{
    background: transparent;
    color: white;
}
.home-btn>button:nth-child(2){
    background: transparent;
    color: white;
}
#home{
    top: 150px;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #0C0F0A;
}
#home>h2{
    position: relative;
    left: 40px;
    color: darkred;
}
#home>p{
    position: relative;
    align-content: center;
    justify-content: center;
    alignment: center;
    margin: 10px;
    padding: 5px;
    color: grey;
}
#home>h5{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#home>.home-btn>button{
    margin: 10px;
    padding: 5px;
}
#home>div>button:hover{
    border: 2px solid darkred;
    color: red;
    transition-duration: 1s;
}
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}
.button::before, .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}
.button::before {
    top: 0;
    border-bottom-width: 0;
}
.button::after {
    bottom: 0;
    border-top-width: 0;
}
.button:active,
.button:focus {
    outline: none;
}
.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}
.button:active::before {
    top: 3px;
}
.button:active::after {
    bottom: 3px;
}
.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}
.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}
.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}
.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}
.button_text {
    position: relative;
}
.button:hover {
    color: #0f1923;
}
.button:hover .button_sl {
    width: calc(100% + 15px);
}
.button:hover .button_lg::after {
    background-color: #fff;
}


/* About */

#about{
    position: relative;
    width: 100vw;
    height: 900px;
    background-color: #191B1D;
    z-index: 999;
}
.about-title1{
    font-family: "Arial Black";
    display: flex;
    justify-content: center;
    color: #ff5d56;
    font-size: 50px;
    padding-top: 50px;
}
.slider{
    position: absolute;
}
.about-me{
    position: relative;
    background-color: black;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-left: 2px solid darkred;
    margin: 50px;
}
.about-pic1{
    position: absolute;
    left: -115px;
    top: -30px;
    width: 550px;
    height: 700px;
}
.about-me-border{
    position: absolute;
    height: 435px;
    width: 300px;
    border: 2px solid grey;
    left: 60px;
    top: 30px;
}
.about-desc{
    position: absolute;
    width: 1000px;
    height: 400px;
    right: 0px;
    padding-right: 4%;
    top: 175px;
}
.about-desc>h1{
    color: yellow;
    text-align: center;
}
.about-desc>p{
    padding: 20px;
}
.about-details{
    position: relative;
    left: 150px;
    top: 10px;
    width: 75%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.about-details>div>img{
    margin: 0 20px 0 0;
}
.about-details>div{
    margin: 10px;
}
.about-skills{
    position: relative;
    margin-top: 600px;
    left: 200px;
}
.about-skills>a{
    position: relative;
    margin: 0 5px 0 0;
}


/* Projects */

.project-title1{
    font-family: "Arial Black";
    position: relative;
    display: flex;
    justify-content: center;
    color: #ff5d56;
    font-size: 50px;
    top: 50px;
}
.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.project_container{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
.project_container:nth-child(2n){
    flex-direction: row-reverse;
}
.project_col{
    margin: 0 20px;
    position: relative;
    height: 403px;
    width: 100%;
}
.project_col h2{
    color: #f8f8f8;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    margin: 10px 0 30px 0;
}
.project_col p{
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 200;
    line-height: 120%;
    margin-bottom: 40px;
}
.project_col a img{
    transition: all 0.3s ease;
}
.project_col a img:hover{
    transform: scale(1.25);
}
.project_col a img:active{
    transform: scale(0.95);
}
.project_container:nth-child(2n) > .project_col{
    text-align: right;
}
.project_container:nth-child(2n) > .project_col > h2{
    right: 55%;
}
#projects{
    position: relative;
    height: fit-content;
    background-color: #0F1011;
}
#projects>div:first-child{
    position: relative;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}
#projects>div:first-child>a{
    text-decoration: none;
    color: yellow;
    margin: 10px;
}
#projects>div:first-child>a:hover{
    color: orange;
}
#projects>div:nth-child(2){
    top: 50px;
    margin: 50px;
    position: relative;
    width: 200px;
    height: 150px;
    border: 1px solid orange;
    border-radius: 10%;
}
#projects>div:nth-child(2)>h4{
    position: absolute;
    left: 20px;
}
#project-bg{
    position: absolute;
    top: 55px;
    right: 20px;
}
#project-gd{
    display: block;
    position: relative;
    top: 50px;
    left: 20px;
    margin: 10px;
}
#project-gh{
    display: block;
    position: relative;
    top: 50px;
    left: 20px;
    margin: 10px;
}
.project_link{
    display: block;
    color: #FF718A;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}


/* Assignments */

.assignment-title1{
    font-family: "Arial Black";
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    color: #ff5d56;
    font-size: 50px;
}
.assignment_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    background-color: #191B1D;
}
#assignment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 140px 0;
    background-color: #191B1D;
}
.card {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: black;
    border: 1px solid black; !important;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px red;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img {
    width: 100%;
    height: 100%;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(194, 129, 243, 0.2);
}
.card_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none; !important;
    box-sizing: border-box;
    background-color: #ffadad;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card_content ul{
    padding: 5px;
    margin:0;
}
.card_content ul li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.card_content ul li:before {
    content: "📝";
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: -10px;
}
.card_content ul li:hover{
    transform: translateX(15px);
    font-weight: 700;
}
.card_content ul li:active{
    transform: scale(0.9);
}
.card_content ul li a{
    text-decoration: none;
    color: #da627d;
    font-size: 16px;
}
.card:hover .card_content {
    transform: rotateX(0deg);
}
.card_title {
    margin: 0;
    font-size: 20px;
    color: #880d1e;
    font-weight: 700;
}
.card:hover img {
    scale: 0;
}
.card_description {
    margin: 5px 0;
    font-size: 12px;
    color: #e06c9f;
    line-height: 1.4;
}
.card_button {
    padding: 10px;
    border-radius: 8px;
    background: transparent;
    color: #c9184a;
    font-weight: 600;
    border: 2px solid #c9184a;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px 10px 0 0;
}
.card_button:hover{
    background: #c9184a;
    color: #faa7bf;
    border: 2px solid #faa7bf;
    transform: scale(1.2);
}
.card_button:active{
    transform: scale(0.9);
}


/* Contact */

#contact{
    height: 550px;
    position: relative;
}
.contact-title1{
    font-family: "Arial Black";
    display: flex;
    justify-content: center;
    color: #ff5d56;
    font-size: 50px;
}
.contact-me{
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 100%;
    border: 1px solid red;
    overflow: hidden;
    top: 100px;
    left: 200px;
}
.contact-me>img{
    position: absolute;
    height: 600px;
    left: -60px;
    top: -40px;
}
.contact-container{
    top: 30px;
    left: 100px;
    padding: 40px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: 1px solid indianred;
    border-radius: 10%;
}
.contact-container>input{
    display: block;
    margin: 20px;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
.login-box a:hover {
    background: #c9184a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c9184a,
    0 0 25px #c9184a,
    0 0 50px #c9184a,
    0 0 100px #c9184a;
}
.login-box a span {
    position: absolute;
    display: block;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}
.login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #c9184a);
    animation: btn-anim1 2s linear infinite;
}


/* Footer */
footer{
    background-color: #c9184a;
    padding: 50px;
}
.footer_container{
    display: flex;
    flex-wrap: wrap;
}
.footer_col1{
    width: 50%;
}
.footer_col1 > h2{
    color: #FFF;
    font-size: 55px;
    font-weight: 600;
    line-height: 72px;
}
.footer_col1 > div{
    margin-left: 50px;
    margin-top: 30px;
}
.footer_col1 > div > a{
    text-decoration: none;
    margin: 20px;
}
.footer_col1 > div > a > svg{
    fill: #FFFFFF;
    transition: all 0.3s ease;
}
.footer_col1 > div > a > svg:hover{
    transform: scale(1.4);
}
.footer_col1 > div > a > svg:active{
    transform: scale(0.9);
}
.footer_col1 > div > a:first-child > svg:hover{
    fill: #b5179e;
}
.footer_col1 > div > a:nth-child(2) > svg:hover{
    fill: #0072b1;
}
.footer_col1 > div > a:nth-child(3) > svg:hover{
    fill: #0147f8;
}
.footer_col1 > div > a:nth-child(4) > svg:hover{
    fill: #000000;
}
.footer_col1 > div > a:nth-child(5) > svg:hover{
    fill: #128C7E;
}
.footer_col2{
    width: 50%;
    display: block;
    text-align: right;
}
.footer_col2 > h2{
    color: #FFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
}
.footer_col2 > div{
    margin-top: 30px;
    margin-bottom: 40px;
}
.footer_col2 > div > a{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: none;
    margin: 0 20px;
}
.footer_col2 > div > a:last-child{
    margin-right: 0;
}
.footer_col2 > p{
    color: #FFF;
    font-size: 23px;
    font-weight: 300;
    line-height: 32px;
}



/* ---Media Query--- */

@media (max-width: 1325px){
    .home-desc{
        width: 800px;
    }
    #home{
        height: 750px;
    }
}
@media (max-width: 1210px){
    .home-desc{
        width: 700px;
    }
    .home-icons{
        left: 250px;
    }
    .home-btn{
        position: relative;
        left: -75px;
    }
}
/* Home */
@media (max-width: 1245px) {
    /* About */
    .about-desc>p{
        right: 0px;
    }
    .about-details{
        right: 0;
    }
    .about-skills{
        left: 10px;
    }
}
@media (max-width: 1110px){
    .home-desc{
        width: 600px;
    }
    .home-icons{
        left: 175px;
    }
    .home-btn{
        left: -150px;
    }
}
@media (max-width: 1024px) {
    /* Home */
    .home-me>img:first-child{
        height: 500px;
        top: 0px;
    }
    .home-me>img:nth-child(2){
        height: 700px;
        top: 0px;
    }
    .home-desc{
        width: 650px;
    }
    .home-line{
        width: 650px;
    }
    .home-icons>a{
        left: 120px;
    }
    .home-btn{
        position: relative;
        width: 650px;
        align-content: center;
        left: 30px;
    }
    #home{
        height: 650px;
    }
    #container{
        top: 100px;
        right: 150px;
    }
}
@media (max-width: 983px){
    /*contact*/
    .contact-me{
        left: 50px;
    }
}
@media (max-width: 940px){
    .home-me>img:first-child{
        height: 500px;
        top: 30px;
    }
    .home-me>img:nth-child(2){
        height: 650px;
        top: 30px;
    }
    .home-desc{
        width: 550px;
    }
    .home-line{
        width: 550px;
    }
    .home-icons{
        left: 150px;
    }
    .home-btn{
        position: relative;
        width: 550px;
        align-content: center;
        left: 50px;
    }
}

@media (max-width: 840px){
    /*contact*/
    .login-box{
        position: absolute;
        left: 550px;
    }
    .contact-me{
        height: 250px;
        width: 250px;
    }
    .contact-me>img{
        height: 500px;
    }
}

@media (max-width: 850px){
    .home-desc{
        width: 500px;
    }
    .home-icons{
        left: 80px;
    }
    .home-btn{
        left: -21px;
    }
}

@media (max-width: 778px){
    .home-me>img:first-child{
        height: 450px;
        top: 10px;
    }
    .home-me>img:nth-child(2){
        height: 550px;
        top: 10px;
    }
    .home-desc{
        width: 450px;
    }
    .home-icons{
        left: 60px;
        top: -30px;
    }
    .home-btn{
        width: 200px;
        height: 0px;
        top: -50px;
        left: 75px;
    }
    .home
    #button_text{
        font-size: 2px;

    }
    #home{
        height: 600px;
    }
}

@media (max-width: 760px){
    /*contact*/
    #contact{
        height: 1000px;
    }
    .login-box{
        position: absolute;
        top: 300px;
        left: 375px;
    }
    .contact-me{
        top: 600px;
        height: 350px;
        width: 350px;
        left: 200px;
    }
    .contact-me>img{
        height: 600px;
    }
    .project_link{
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 730px){
    .home-desc{
        width: 400px;
    }
    .home-btn{
    }
}

@media (max-width: 682px){
    .home-me>img:first-child{
        height: 450px;
        top: 30px;
    }
    .home-me>img:nth-child(2){
        height: 500px;
        top: 30px;
    }
    .home-desc{
        width: 350px;
    }
    .home-icons{
        left: 65px;
    }
    .home-icons>a{
        margin: 15px;
    }
    .home-icons>a>svg{
        height: 30px;
    }
    .home-btn{
        width: 400px;
        left: 20px;
    }
    #home{
        height: 600px;
    }
}

@media (max-width: 643px){
    .home-me{
        position: relative;
        display: flex;
        align-items: center;
        alignment: center;
    }
    .home-me>img:first-child{
        position: relative;
        height: 500px;
        top: -40px;
        left: 200px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 200px;
    }
    .home-desc{
        position: relative;
        width: 550px;
        left: 0;
    }
    .home-icons{
        display: flex;
        align-items: center;
        top: -40px;
        left: 85px;
    }
    .home-icons>a{
        margin: 25px;
    }
    .home-icons>a>svg{
        height: 35px;
    }
    .home-btn{
        position: relative;
        width: 550px;
        align-content: center;
        left: 50px;
        bottom: 20px;
    }
    #home{
        height: 1100px;
    }
}

@media (max-width: 643px){
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 150px;
    }
    .home-desc{
        position: relative;
        width: 550px;
        left: 0;
    }
    .home-line{
        width: 550px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 75px;
        margin: 0 20px;
    }
    .home-btn{
        position: relative;
        width: 500px;
        align-content: center;
        left: 75px;
        bottom: 20px;
    }
}

@media (max-width: 613px){
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 150px;
    }
    .home-desc{
        position: relative;
        width: 500px;
        left: 0;
    }
    .home-line{
        width: 500px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 65px;
        margin: 0 20px;
    }
    .home-btn{
        position: relative;
        width: 500px;
        align-content: center;
        left: 65px;
        bottom: 20px;
    }
}

@media (max-width: 588px){
    .login-box{
        position: absolute;
        top: 300px;
        left: 275px;
    }
    .contact-me{
        left: 100px;
    }

}

@media (max-width: 564px){
    .home-me>img:first-child{
        position: relative;
        height: 500px;
        top: -40px;
        left: 150px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 150px;
    }
    .home-desc{
        position: relative;
        width: 450px;
        left: 0;
    }
    .home-line{
        width: 450px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 58px;
        margin: 0 15px;
    }
    .home-btn{
        position: relative;
        width: 450px;
        align-content: center;
        left: 50px;
        bottom: 20px;
    }
}

@media (max-width: 505px){
    .home-me>img:first-child{
        position: relative;
        height: 500px;
        top: -40px;
        left: 175px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 75px;
    }
    .home-desc{
        position: relative;
        width: 400px;
        left: 0;
    }
    .home-line{
        width: 400px;
    }
    .home-icons>a>img{
        height: 35px;
        width: 35px;
    }
    .home-icons>a{
        left: 53px;
        margin: 0 15px;
    }
    .home-btn{
        position: relative;
        width: 400px;
        align-content: center;
        left: 55px;
        bottom: 20px;
    }
}

@media (max-width: 500px){
    .login-box{
        position: absolute;
        top: 300px;
        left: 250px;
        height: 450px;
        width: 300px;
    }
    .contact-me{
        left: 75px;
    }

}

@media (max-width: 458px){
    #home{
        height: 1150px;
    }
    .home-me>img:first-child{
        position: relative;
        height: 500px;
        top: -60px;
        left: 100px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 75px;
    }
    .home-desc{
        position: relative;
        width: 300px;
        left: 0;
    }
    .home-icons{
        display: flex;
        align-items: center;
        top: -45px;
        left: 50px;
    }
    .home-icons>a{
        margin: 15px;
    }
    .home-icons>a>svg{
        height: 35px;
    }
    .home-btn{
        position: relative;
        width: 350px;
        /*align-content: center;*/
        left: 30px;
        bottom: 20px;
        top: -80px;
    }
    .home-desc>h2{
        font-size: 18px;
    }
}

@media (max-width: 415px){
    .contact-title1{
        font-size: 40px;
    }
    .login-box{
        left: 200px;
    }
    .contact-me{
        height: 200px;
        width: 200px;
        left: 100px;
    }
    .contact-me>img{
        height: 400px;
    }
    #contact{
        height: 800px;
    }
}

@media (max-width: 360px){
    #home{
        height: 1100px;
    }
    .home-me>img:first-child{
        position: relative;
        height: 450px;
        top: -60px;
        left: 50px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 550px;
        top: 40px;
        right: 75px;
    }
    .home-desc{
        position: relative;
        width: 200px;
        left: 0;
    }
    .home-icons{
        display: flex;
        align-items: center;
        top: -45px;
        left: 50px;
    }
    .home-icons>a{
        margin: 10px;
    }
    .home-icons>a>svg{
        height: 25px;
    }
    .home-btn{
        position: relative;
        width: 200px;
        /*align-content: center;*/
        left: 60px;
        top: -70px;
        height: 30px;
    }
    .home-desc>h1{
        font-size: 35px;
    }
    .home-desc>h2{
        padding-left: 20px;
        font-size: 20px;
    }
    .login-box{
        width: 275px;
        left: 175px;
    }
}
@media  (max-width: 380px){
    .assignment-title1{
        font-size: 40px;
    }
}
@media (max-width: 321px){
    .login-box{
        position: absolute;
        top: 250px;
        left: 155px;
        height: fit-content;
        width: 300px;
    }
    .contact-me{
        height: 200px;
        width: 200px;
        left: 50px;
        top: 500px;
    }
    .contact-me>img{
        height: 400px;
    }
    #contact{
        height: 750px;
    }
    .contact-title1{
        font-size: 35px;
    }
}

@media (max-width: 310px){
    .home-me>img:nth-child(2){
        position: absolute;
        height: 550px;
        top: 40px;
        right: 20px;
    }
    .about-title1{
        font-size: 40px;
    }
    .project-title1{
        font-size: 40px;
    }
    .assignment-title1{
        font-size: 35px;
    }
    .contact-title1{
        font-size: 40px;
    }
}

@media (max-width: 1430px){
    .about-desc{
        width: 950px;
    }
}
@media (max-width: 1365px){
    .about-desc{
        width: 900px;
    }
}
@media (max-width: 1315px){
    .about-desc{
        width: 850px;
    }
}
@media (max-width: 1265px){
    .about-desc{
        width: 800px;
    }
}
@media (max-width: 1200px){
    .about-desc{
        width: 750px;
    }
    .about-details>div>span{
        font-size: 15px;
    }
    .about-details{
        left: 12%;
    }
}
@media (max-width: 1155px){
    .about-desc{
        width: 700px;
    }
    .about-details>div>span{
        font-size: 13px;
    }
}
@media (max-width: 1105px){
    .about-desc{
        width: 650px;
    }
    .about-details>div>span{
        font-size: 12px;
    }
    .about-desc>p{
        font-size: 15px;
    }
}
@media (max-width: 1050px){
    .about-desc{
        width: 600px;
    }
    .about-details>div>span{
        font-size: 11px;
    }
}
@media (max-width: 995px){
    .about-desc{
        width: 550px;
    }
    .about-details>div>span{
        font-size: 10px;
    }
    .about-desc>p{
        font-size: 13px;
    }
    .about-desc>h1{
        font-size: 22px;
    }
}
@media (max-width: 940px){
    .about-me{
        width: 250px;
        height: 400px;
        margin: 50px;
    }
    .about-pic1{
        left: -115px;
        top: -30px;
        width: 500px;
        height: 650px;
    }
    .about-me-border{
        height: 400px;
        width: 250px;
        left: 60px;
        top: 30px;
    }
}
@media (max-width: 895px){
    .about-me{
        width: 225px;
        height: 350px;
        margin: 50px;
    }
    .about-pic1{
        left: -115px;
        top: -30px;
        width: 450px;
        height: 600px;
    }
    .about-me-border{
        height: 350px;
        width: 225px;
        left: 60px;
        top: 30px;
    }
}
@media (max-width: 870px){
    .about-desc{
        width: 500px;
    }
    .about-details>div>span{
        font-size: 8px;
    }
    .about-desc>p{
        font-size: 12px;
    }
    .about-desc>h1{
        font-size: 20px;
    }
    .about-details{
        top: -20px;
    }
    .about-details>div>img{
        height: 20px;
    }
    .about-skills{
        margin-top: 500px;
    }
}
@media (max-width: 810px){
    .about-me{
        width: 200px;
        height: 300px;
        margin: 40px;
    }
    .about-pic1{
        left: -100px;
        top: -30px;
        width: 400px;
        height: 550px;
    }
    .about-me-border{
        height: 300px;
        width: 200px;
        left: 50px;
        top: 30px;
    }
    .about-desc{
        top: 140px;
    }
    .about-details>div{
        margin: 5px;
    }
}
@media (max-width: 775px){
    .about-desc{
        width: 450px;
    }
    .about-details>div>span{
        font-size: 8px;
    }
    .about-details{
        width: 90%;
    }
    .about-desc>p{
        font-size: 11px;
    }
    .about-desc>h1{
        font-size: 20px;
    }
}
@media (max-width: 720px){
    .about-me{
        width: 175px;
        height: 250px;
        margin: 30px;
    }
    .about-pic1{
        left: -80px;
        top: -30px;
        width: 350px;
        height: 500px;
    }
    .about-me-border{
        height: 250px;
        width: 175px;
        left: 40px;
        top: 20px;
    }
    .about-skills{
        margin-top: 425px;
    }
}
@media (max-width: 680px){
    .about-desc{
        width: 400px;
    }
    .about-details>div>span{
        font-size: 8px;
    }
    .about-details>div>img{
        height: 15px;
    }
    .about-details{
        width: 90%;
    }
    .about-desc>p{
        font-size: 10px;
    }
    .about-desc>h1{
        font-size: 17px;
    }
    .slider{
        top: 150px;
    }
}
@media (max-width: 630px){
    .about-desc{
        width: 350px;
    }
    .about-details>div>span{
        font-size: 8px;
    }
    .about-details>div>img{
        height: 15px;
    }
    .about-details{
        width: 90%;
        left: 20px;
    }
    .about-desc>p{
        font-size: 10px;
    }
    .about-desc>h1{
        font-size: 17px;
    }
}
@media (max-width: 585px){
    #about{
        height: 800px;
    }
    .about-me{
        width: 150px;
        height: 200px;
        margin: 25px;
    }
    .about-pic1{
        left: -70px;
        top: -30px;
        width: 300px;
        height: 425px;
    }
    .about-me-border{
        height: 200px;
        width: 150px;
        left: 35px;
        top: 15px;
    }
    .slider{
        top: 180px;
    }
    .about-skills{
        margin-top: 400px;
    }
    .about-skills>a>img{
        height: 80px;
    }
}
@media (max-width: 550px){
    #about{
        height: 1400px
    }
    .slider{
        position: relative;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }
    .about-desc{
        position: relative;
    }
    .about-me{
        width: 250px;
        height: 400px;
        margin: 50px;
    }
    .about-pic1{
        left: -115px;
        top: -30px;
        width: 500px;
        height: 650px;
    }
    .about-me-border{
        height: 400px;
        width: 250px;
        left: 60px;
        top: 10px;
    }
    .about-desc{
        width: 100%;
        position: relative;
        top: 50px;

    }
    .about-desc>p{
        justify-content: center;
        font-size: 13px;
    }
    .about-details>div{
        margin: 10px;
    }
    .about-details>div>img{
        height: 25px;
    }
    .about-details>div>span{
        font-size: 12px;
    }
    .about-skills{
        margin-top: 100px;
    }
}
@media (max-width: 510px){
    .about-desc>p{
        justify-content: center;
        font-size: 12px;
    }
    .about-details>div{
        margin: 8px;
    }
    .about-details>div>img{
        height: 25px;
    }
    .about-details>div>span{
        font-size: 11px;
    }
}
@media (max-width: 475px){
    .about-details>div{
        margin: 8px;
    }
    .about-details>div>img{
        height: 20px;
        margin: 0 10px 0 0;
    }
    .about-details>div>span{
        font-size: 10px;
    }
}
@media (max-width: 428px){
    .about-skills{
        margin-top: 80px;
    }
    #about{
        height: 1450px;
    }
}
@media (max-width: 412px){
    .about-details>div{
        margin: 7px;
    }
    .about-details>div>img{
        height: 17px;
        margin: 0 8px 0 0;
    }
    .about-details>div>span{
        font-size: 9px;
    }
}
@media (max-width: 370px){
    #about{
        height: 1400px
    }
    .slider{
        position: relative;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }
    .about-desc{
        position: relative;
    }
    .about-me{
        width: 225px;
        height: 375px;
        margin: 50px;
    }
    .about-pic1{
        left: -115px;
        top: -30px;
        width: 475px;
        height: 625px;
    }
    .about-me-border{
        height: 375px;
        width: 225px;
        left: 60px;
        top: 10px;
    }
    .about-desc{
        width: 100%;
        top: 50px;
    }
    .about-desc>p{
        justify-content: center;
        font-size: 10px;
    }
    .about-details>div{
        margin: 7px;
    }
    .about-details>div>img{
        height: 20px;
        margin: 0 5px 0 0;
    }
    .about-details>div>span{
        font-size: 9px;
    }
    .about-skills{
        margin-top: 80px;
    }
}
@media (max-width: 367px){
    .about-details>div{
        margin: 6px;
    }
    .about-details>div>img{
        height: 16px;
        margin: 0 5px 0 0;
    }
    .about-details>div>span{
        font-size: 7px;
    }
    .about-skills{
        margin-top: 60px;
    }
}
@media (max-width: 320px){
    #about{
        height: 1330px;
    }
    .about-me{
        width: 200px;
        height: 350px;
        margin: 50px;
    }
    .about-pic1{
        left: -115px;
        top: -30px;
        width: 450px;
        height: 600px;
    }
    .about-me-border{
        height: 350px;
        width: 200px;
        left: 60px;
        top: 10px;
    }
    .about-title1{
        font-size: 40px;
    }
    .about-skills>a>img{
        height: 60px;
    }
}

@media all and (max-width: 1350px){
    /*project*/
    .project_col h2{
        font-size: 32px;
        line-height: 40px;
    }

    .project_col p{
        font-size: 15px;
        line-height: 20px;
    }

    .project_col img{
        width: 400px;
        height: 250px;
    }

    .project_col a img{
        width: inherit;
        height: inherit;
    }

    /* assignment*/
    .assignment_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }

    .card {
        width: 300px;
    }
}

@media all and (max-width: 1150px){
    /* assignment section */
    .assignment_container{
        grid-template-columns: repeat(2,1fr);
    }

    /* footer */
    .footer_col1 > h2{
        font-size: 50px;
        line-height: 66px;
    }

    .footer_col1 > div > a{
        margin: 15px;
    }

    .footer_col2 > h2{
        font-size: 50px;
        line-height: 66px;
    }

    .footer_col2 > div > a{
        font-size: 20px;
        line-height: 28px;
        margin: 0 15px;
    }

    .footer_col2 > p{
        font-size: 20px;
        line-height: 28px;
    }
}

@media all and (max-width: 950px){
    /* Navigation bar */
    .nav_links > a {
        font-size: 20px;
        margin: 12px;
    }

    /* project section */
    .project_container{
        flex-direction: column;
        margin-bottom: 50px;
    }

    .project_container:nth-child(2n){
        flex-direction: column;
    }

    .project_col{
        margin: 0;
        height: 275px;
        width: 100%;
    }

    .project_col:nth-child(2n){
        padding: 0 50px;
    }

    /* footer */
    .footer_container{
        flex-direction: column;
    }

    .footer_col1{
        width: 100%;
    }

    .footer_col1 > div{
        margin-left: 0;
    }

    .footer_col2{
        width: 100%;
        text-align: left;
        margin-top: 30px;
    }

    .footer_col1 > div > a:first-child{
        margin-left: 0;
    }

    .footer_col2 > div > a:first-child{
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    /* Navigation bar */
    .menu-btn {
        display: block !important;
    }

    .menu-btn.active::before{
        content: '\f00d';
    }

    .navigation.active {
        border-radius: 30px 30px 0 0;
        border-bottom: none;
        transition: all 0.01s linear;
    }

    .nav_links {
        position: absolute;
        width: 100%;
        top: 100%;
        left: -4.5px;
        background-color: #090310;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 30px 30px;
        border: 5px solid #c9184a;
        border-top: none;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
        transform-origin: top right;
        transition-delay: 0.01s;
    }

    .nav_links a{
        display: block;
        margin: 1.5rem 2rem;
    }

    .nav_links.active{
        transform: scale(1);
    }

    .mode{
        margin-left:1rem;
        margin-bottom: 0.5rem;
    }

    /* assignment section */
    .assignment_container{
        grid-template-columns: 1fr;
    }
}

@media all and (max-width: 610px){
    /* footer */
    footer{
        padding-left: 30px;
        padding-right: 10px;
    }

    .footer_col1 > h2{
        font-size: 36px;
        line-height: 50px;
    }

    .footer_col2 > h2{
        font-size: 36px;
        line-height: 50px;
    }

    .footer_col2 > div > a{
        font-size: 18px;
        line-height: 24px;
        margin: 0 10px;
    }

    .footer_col2 > p{
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (max-width: 470px){
    /* Navigation bar */
    .navigation{
        height: 50px;
    }

    .logo{
        width: 45px;
        height: 40px;
    }

    /* project section */
    .project_container{
        margin: 50px 0;
    }

    .project_container:nth-child(2n){
        flex-direction: column;
    }

    .project_col{
        height: 225px;
    }

    .project_col:nth-child(2n){
        padding: 0 30px;
    }

    .project_col img{
        width: 300px;
        height: 200px;
    }

    .project_col h2{
        font-size: 24px;
        line-height: 32px;
        margin: 10px 0 15px 0;
    }

    .project_col p{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    /* assignment section */
    .card {
        width: 250px;
    }

    /* footer */
    footer{
        padding-left: 20px;
        padding-right: 10px;
    }

    .footer_col1 > h2{
        font-size: 28px;
        line-height: 50px;
    }

    .footer_col1 > div > a{
        margin: 10px;
    }

    .footer_col2 > h2{
        font-size: 28px;
        line-height: 50px;
    }

    .footer_col2 > div > a{
        font-size: 14px;
        line-height: 20px;
        margin: 0 5px;
    }

    .footer_col2 > p{
        font-size: 12px;
        line-height: 18px;
    }
}

@media all and (max-width: 320px) {
    /* project section */
    .project_col img{
        width: 250px;
        height: 200px;
    }
}