body{
    background-color: #0C0F0A;
    color: white;
    overflow-x: hidden;
    /*width: 1440px;*/
}
.header{
    position: relative;
    height: 50px;
    width: 98vw;
    background-color: black;
    z-index: 9999;
}
header{
    position: fixed;
    height: 50px;
    padding: 10px;
    z-index: 9999;
}
header > img {
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0;
}
header > nav {
    position: fixed;
    right: 40px;
    top: 0;
}
header > nav > ul > li {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}
header>nav>ul>li>a {
    color: white;
    text-decoration: none;
}
header>nav>ul>li>a:hover{
    color: red;
}

/* Home */
.home-desc{
    margin: 30px;
    width: 1000px;
    padding: 20px;
}
.home-desc>p{
    text-align: justify;
    color: grey;
}
.home-desc>h2{
    color: yellow;
    padding-left: 50px;
}
.home-me>img:first-child{
    position: absolute;
    right: -50px;
    top: -70px;
    z-index: 99;
    height: 700px;

}
.home-line{
    position: relative;
    width: 1000px;
    border-bottom: 2px solid white;
    height: 30px;
}
.home-line>h5{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.home-me>img:nth-child(2){
    position: absolute;
    right: 0;
    height: 1000px;
    top: -90px;
}
.home-icons{
    width: 1000px;
}
.home-icons>a{
    position: relative;
    left: 320px;
    margin: 0 20px;
    top: -30px;
}
.home-icons>a>img{
    width: 50px;
    height: 50px;
}
.home-btn{
    width: 1000px;
    display: flex;
    justify-content: center;
}
.home-btn>button:first-child{
    background: transparent;
    color: white;
}
.home-btn>button:nth-child(2){
    background: transparent;
    color: white;
}
#home{
    position: relative;
    height: 600px;
    overflow: hidden;
}
#home>h2{
    position: relative;
    left: 40px;
    color: darkred;
}
#home>p{
    position: relative;
    align-content: center;
    justify-content: center;
    alignment: center;
    margin: 10px;
    padding: 5px;
    color: grey;
}
#home>h5{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#home>div>a{

}
#home>div>button{
    border: 2px solid yellow;
    border-radius: 10%;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
}
#home>div>button:hover{
    border: 2px solid darkred;
    color: red;
    transition-duration: 1s;
}

/* About */
#about{
    position: relative;
    width: 100vw;
    height: 1300px;
    border: 2px solid black;
}
.slider{
    position: absolute;
}
.about-me{
    position: relative;
    background-color: black;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-left: 2px solid darkred;
    margin: 50px;
}
.about-pic1{
    position: absolute;
    left: -115px;
    top: -40px;
    width: 550px;
    height: 700px;
}
.about-me-border{
    position: absolute;
    height: 435px;
    width: 300px;
    border: 2px solid grey;
    left: 60px;
    top: 20px;
}
.about-desc{
    position: absolute;
    width: 1000px;
    height: 400px;
    right: 100px;
    top: 50px;
}
.about-desc>h1{
    color: yellow;
    text-align: center;
}
.about-desc>p{
    padding: 20px;
}
.about-details{
    width: 75%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.about-skills{
    margin-top: 600px;
}
.about-status{
    width: 80%;
    height: 300px;
    background-color: #171A21;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-left: 10%;
}
.about-status > div{
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 75px;
}
.about-status > div > svg{
    fill: white;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.about-status > div > p{
    margin-top: 50px;
    margin-left: 25px;
}/*#about>div:first-child{*/
/*    position: absolute;*/
/*    height: 600px;*/
/*    width: fit-content;*/
/*    !*border: 2px solid red;*!*/
/*    margin-top: 20px;*/
/*    margin-left: 20px;*/
/*    z-index: 99;*/
/*}*/
/*!*#about>div:nth-child(3){*!*/
/*!*    position: absolute;*!*/
/*!*    height: 600px;*!*/
/*!*    width: 370px;*!*/
/*!*    border: 3px solid grey;*!*/
/*!*    margin-top: 33px;*!*/
/*!*    margin-left: 33px;*!*/
/*!*}*!*/
/*#about>div:nth-child(4){*/
/*    position: absolute;*/
/*    right: 0;*/
/*    width: 1000px;*/
/*    border: 2px solid blue;*/
/*    margin-right: 30px;*/
/*}*/

/*#about>div:nth-child(4)>h1{*/
/*    position: relative;*/
/*    alignment: center;*/
/*    align-content: center;*/
/*    justify-content: center;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
/*    color: yellow;*/
/*}*/
/*#about>div:nth-child(4)>p{*/
/*    position: relative;*/
/*    color: grey;*/
/*    alignment: center;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/
/*#about>div:nth-child(4)>div{*/
/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-rows: 1fr 1fr 1fr;*/
/*    margin: 10px;*/
/*    width: 800px;*/
/*    border: 2px solid green;*/
/*}*/
/*#about>div:nth-child(4)>div>img{*/
/*    margin: 10px;*/
/*}*/
/*#about>div:nth-child(5){*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
/*#about>div:nth-child(5)>a>img{*/
/*    margin: 10px;*/
/*    height: 100px;*/
/*}*/

/* Projects */
#projects{
    position: relative;
    height: 500px;
}
#projects>div:first-child{
    position: relative;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}
#projects>div:first-child>a{
    text-decoration: none;
    color: yellow;
    margin: 10px;
}
#projects>div:first-child>a:hover{
    color: orange;
}
#projects>div:nth-child(2){
    position: relative;
    width: 200px;
    height: 150px;
    border: 1px solid orange;
    border-radius: 10%;
}
#projects>div:nth-child(2)>h4{
    position: absolute;
    left: 20px;
}

#project-bg{
    position: absolute;
    top: 55px;
    right: 20px;
}
#project-gd{
    display: block;
    position: relative;
    top: 50px;
    left: 20px;
    margin: 10px;
}
#project-gh{
    display: block;
    position: relative;
    top: 50px;
    left: 20px;
    margin: 10px;
}
.feedback{
    left: 30px;
    position: absolute;
    bottom: 30px;
    width: 95vw;
    height: 200px;
    padding-left: 20px;
}
.feedback>span:first-child{
    position: relative;
    font-weight: bold;
    font-size: 20px;
}
.feedback>span:nth-child(2)>img{
    position: relative;
    width: 30px;
    top: 10px;
    margin-left: 10px;
}
.comments{
    position: relative;
    top: 10px;
    left: 10px;
}
.comments>img{
    position: relative;
    top: 10px;
    margin-right: 10px;
}
.comments>span{
    color: orange;
    font-weight: bold;
}
.comments>p{
    color: grey;
}
/*#projects>div:nth-child(2)>img{*/
/*    display: block;*/
/*    position: relative;*/
/*    top: 50px;*/
/*    left: 20px;*/
/*    margin: 10px;*/
/*}*/


/* Assignments */
#assignments{
    height: fit-content;
    width: 98vw;
}
.assignment-cards{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    position: relative;
    width: fit-content;
    height: fit-content;
}
.card{
    margin: 50px 150px 50px;
    position: relative;
    width: 150px;
    height: fit-content;
    border: 1px solid darkred;
    border-radius: 10%;
    padding: 15px;
}
.card-11{
    display: block;
}


/* Contact */
#contact{
    height: 550px;
    position: relative;
}
.contact-container{
    top: 30px;
    left: 100px;
    padding: 40px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: 1px solid indianred;
    border-radius: 10%;
}
.contact-container>input{
    display: block;
    margin: 20px;

}



/* Footer */
.footer{
    height: 200px;
    width: 99vw;
    background-color: #540b0e;
    opacity: 100%;
}
.footer>label{
    position: absolute;
    right: 20px;
    margin: 20px;
    color: orange;
}
.footer-nav{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
.footer-nav>a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.footer>p{
    position: relative;
    text-align: center;
    top: 50px;
}


/* ---Media Query--- */

/* Home */

@media (max-width: 1024px) {
    .home-me>img:first-child{
        height: 400px;
        top: -10px;
    }
    .home-me>img:nth-child(2){
        height: 500px;
        top: -10px;
    }
    .home-desc{
        width: 650px;
    }
    .home-line{
        width: 650px;
    }
    .home-icons>a{
        left: 120px;
    }
    .home-btn{
        position: relative;
        width: 650px;
        align-content: center;
        left: 50px;
    }
    #home{
        height: 500px;
    }
}

@media (max-width: 920px){
    .home-me>img:first-child{
        height: 400px;
        top: 30px;
    }
    .home-me>img:nth-child(2){
        height: 500px;
        top: 30px;
    }
    .home-desc{
        width: 550px;
    }
    .home-line{
        width: 550px;
    }
    .home-icons>a{
        left: 65px;
    }
    .home-btn{
        position: relative;
        width: 550px;
        align-content: center;
        left: 50px;
    }
    #home{
        height: 500px;
    }
}

@media (max-width: 850px){
    .home-me>img:first-child{
        height: 400px;
        top: 30px;
    }
    .home-me>img:nth-child(2){
        height: 500px;
        top: 30px;
    }
    .home-desc{
        width: 500px;
    }
    .home-line{
        width: 500px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 60px;
    }
    .home-btn{
        position: relative;
        width: 550px;
        align-content: center;
        left: 50px;
    }
    #home{
        height: 500px;
    }
}

@media (max-width: 778px){
    .home-me>img:first-child{
        height: 400px;
        top: 30px;
    }
    .home-me>img:nth-child(2){
        height: 450px;
        top: 30px;
    }
    .home-desc{
        width: 450px;
    }
    .home-line{
        width: 450px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 60px;
    }
    .home-btn{
        position: relative;
        width: 450px;
        align-content: center;
        left: 45px;
        bottom: 20px;
    }
    #home{
        height: 500px;
    }
}

@media (max-width: 715px){
    .home-me>img:first-child{
        height: 400px;
        top: 30px;
    }
    .home-me>img:nth-child(2){
        height: 500px;
        top: 30px;
    }
    .home-desc{
        width: 400px;
    }
    .home-line{
        width: 400px;
    }
    .home-icons>a>img{
        height: 35px;
        width: 35px;
    }
    .home-icons>a{
        left: 45px;
        margin: 0 15px;
    }
    .home-btn{
        position: relative;
        width: 450px;
        align-content: center;
        left: 40px;
        bottom: 20px;
    }
    #home{
        height: 500px;
    }
}

@media (max-width: 682px){
    .home-me>img:first-child{
        height: 350px;
        top: 30px;
    }
    .home-me>img:nth-child(2){
        height: 450px;
        top: 30px;
    }
    .home-desc{
        width: 350px;
    }
    .home-line{
        width: 350px;
    }
    .home-icons>a>img{
        height: 30px;
        width: 30px;
    }
    .home-icons>a{
        left: 45px;
        margin: 0 15px;
    }
    .home-btn{
        position: relative;
        width: 450px;
        align-content: center;
        left: 20px;
        bottom: 20px;
    }
    #home{
        height: 500px;
    }
}

@media (max-width: 643px){
    .home-me{
        position: relative;
    }
    .home-me>img:first-child{
        position: relative;
        height: 500px;
        top: -40px;
        left: 200px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 200px;
    }
    .home-desc{
        position: relative;
        width: 550px;
        left: 0;
    }
    .home-line{
        width: 550px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 75px;
        margin: 0 20px;
    }
    .home-btn{
        position: relative;
        width: 550px;
        align-content: center;
        left: 50px;
        bottom: 20px;
    }
    #home{
        height: fit-content;
    }
}

@media (max-width: 643px){
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 150px;
    }
    .home-desc{
        position: relative;
        width: 550px;
        left: 0;
    }
    .home-line{
        width: 550px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 75px;
        margin: 0 20px;
    }
    .home-btn{
        position: relative;
        width: 500px;
        align-content: center;
        left: 75px;
        bottom: 20px;
    }
}

@media (max-width: 613px){
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 150px;
    }
    .home-desc{
        position: relative;
        width: 500px;
        left: 0;
    }
    .home-line{
        width: 500px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 65px;
        margin: 0 20px;
    }
    .home-btn{
        position: relative;
        width: 500px;
        align-content: center;
        left: 65px;
        bottom: 20px;
    }
}

@media (max-width: 564px){
    .home-me>img:first-child{
        position: relative;
        height: 500px;
        top: -40px;
        left: 150px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 150px;
    }
    .home-desc{
        position: relative;
        width: 450px;
        left: 0;
    }
    .home-line{
        width: 450px;
    }
    .home-icons>a>img{
        height: 40px;
        width: 40px;
    }
    .home-icons>a{
        left: 58px;
        margin: 0 15px;
    }
    .home-btn{
        position: relative;
        width: 450px;
        align-content: center;
        left: 50px;
        bottom: 20px;
    }
}

@media (max-width: 505px){
    .home-me>img:first-child{
        position: relative;
        height: 500px;
        top: -40px;
        left: 175px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 75px;
    }
    .home-desc{
        position: relative;
        width: 400px;
        left: 0;
    }
    .home-line{
        width: 400px;
    }
    .home-icons>a>img{
        height: 35px;
        width: 35px;
    }
    .home-icons>a{
        left: 53px;
        margin: 0 15px;
    }
    .home-btn{
        position: relative;
        width: 400px;
        align-content: center;
        left: 55px;
        bottom: 20px;
    }
}

@media (max-width: 452px){
    .home-me>img:first-child{
        position: relative;
        height: 500px;
        top: -40px;
        left: 175px;
    }
    .home-me>img:nth-child(2){
        position: absolute;
        height: 600px;
        top: 40px;
        right: 75px;
    }
    .home-desc{
        position: relative;
        width: 400px;
        left: 0;
    }
    .home-line{
        width: 400px;
    }
    .home-icons>a>img{
        height: 35px;
        width: 35px;
    }
    .home-icons>a{
        left: 53px;
        margin: 0 15px;
    }
    .home-btn{
        position: relative;
        width: 400px;
        align-content: center;
        left: 55px;
        bottom: 20px;
    }
}